Data Cleaning and Addition for Subgroup B

In [1]:
# libraries
import os
import numpy as np
import pandas as pd
from sklearn.neighbors import KernelDensity

In [2]:
# set path
PATH = r'.\data'

In [4]:
# helper functions
def load_data(path):
    return pd.read_csv(os.path.join(PATH, path))

def generate_new_data(df_target, df_source, colname, lowerlim=None, upperlim=None, kernel='gaussian',  inttype=False):
    kde_new = KernelDensity(bandwidth=1, kernel=kernel)
    kde_new.fit(df_source[colname].values.reshape(-1, 1))

    new_samples = kde_new.sample(len(df_target)).reshape(-1)        
    df_target[colname] = new_samples

    if lowerlim != None:
        df_target.loc[df_target[colname] < lowerlim, colname] = lowerlim
    if upperlim != None:
        df_target.loc[df_target[colname] > upperlim, colname] = upperlim
    
    return df_target

Data Addition:

InsuranceProducts: 

Link: https://www.kaggle.com/datasets/akhilups/insurance-product-purchase-prediction?resource=download

Columns Added: 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'risk_factor'

In [5]:
# load datasets
bank_churners = load_data('BankChurners.csv') # main dataset
insurance_products = load_data('InsuranceProduct.csv') # dataset with different products and services

# merge datasets
df = bank_churners.drop(['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 
                         'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
                         axis=1) 	

# fill na values for risk factor with median and 0 for everything else
cols_to_merge = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'risk_factor']
insurance_products['risk_factor'] = insurance_products['risk_factor'].fillna(insurance_products['risk_factor'].median()) 
insurance_products = insurance_products[cols_to_merge].fillna(0)

col_limits = {'A': [0, 2], 'B': [0, 1], 'C': [1, 4], 'D': [1, 3], 'E': [0, 1], 'F': [0, 3], 'G': [1, 4], 'risk_factor': [0, None]}
for col in cols_to_merge:
    df = generate_new_data(df, insurance_products, col, lowerlim=col_limits[col][0], upperlim=col_limits[col][1])
    if col != 'cost':
        df[col] = np.round(df[col]).astype(int)
        
display(df)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,A,B,C,D,E,F,G,risk_factor
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1.625,0.061,0,1,3,1,0,2,2,2
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,3.714,0.105,1,1,3,3,1,2,3,3
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,2.333,0.000,2,1,1,3,0,0,2,1
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,2.333,0.760,1,0,1,3,1,1,2,3
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,2.500,0.000,1,1,1,2,0,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,0.857,0.462,0,0,4,1,0,1,1,3
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,0.683,0.511,2,0,4,3,1,3,1,5
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,0.818,0.000,0,1,2,1,1,3,1,5
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,0.722,0.000,0,1,1,2,0,1,2,0
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,0.649,0.189,1,1,3,2,1,2,1,0